/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
/public/assets/blog_images
/public/assets/testimonial_images
/public/assets/user_images
/public/assets/marksheets
/public/assets/career_library
/bootstrap/cache
/bootstrap/cache/config.php
/bootstrap/cache/routes-v7.php
